
* {
    margin: 0;
    padding: 0;
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%; 
    background-image: url("bkgrd.png");
    overflow: hidden;
    background-size: cover;
    
}

.hero-container{
    overflow: hidden;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.index-header {
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 50px;
    background-color: transparent;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.header-list{
    list-style-type: none;
    overflow: hidden;
    align-items: end;
}

li{
    float: left;
    margin: 10px;
}

li button{
    border: 0cap;
    border-radius: 5px;
    padding: 8px;
    width: 90px;
    height: 100%;
    cursor: pointer;
    background-color: transparent;
    transition: transform 0.3s ease-in-out;
}

li img{
    height: 10vh;
    width: 10px;
}
li a{
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    color: rgb(12, 6, 15);
    font-family: monospace;
}
li button:hover {
    transform: scale(1.1);
    background-color: rgb(198, 203, 200);
    box-shadow: 0 0 5px hsl(110, 27%, 4%);
}
li button:hover::after{
    transform: scale(0);
}

.hero-items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.name{
    text-decoration: none;
    font-size: 65px;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
    color: rgb(255, 255, 255);
    font-family: monospace;
    margin-bottom: 50px;
}

.hero-button{
    border: 0cap;
    border-radius: 5px;
    padding: 8px;
    width: 70px;
    height: 100%;
    background-color: rgba(18, 197, 33, 0.471);
    color: aqua;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.hero-button:hover {
    transform: scale(1.1);
    background-color: rgb(18, 10, 250);
    box-shadow: 0 0 5px hsl(110, 27%, 4%);
}
.hero-button:hover::after{
    transform: scale(0);
}