html {
    overflow-y: hidden; 
}

body {
    margin: 0;
    padding: 0;
    display: block;
    
}

.fade-in {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}



.nav {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
    min-height: 2vh;
    padding: 0 10px;
    overflow: hidden;
    background-color: #FFFBE9;
}

.nav-links {
    display: flex;
    flex-wrap: nowrap; 
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.nav-links li {
    margin: 5px 45px;
    white-space: nowrap;
}


.links {
    position: relative;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: monospace;
    font-size: 15PX;
    scale: 1;
}

.links::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 1px;
    background-color: #E3CAA5;
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

.links:hover::after {
    transform: scaleX(1);
}

.links:hover{
    color: #E3CAA5; 
    transform: scale(1.5);
    transition: 0.5s;
}

button{
    border: 0;
    background-color: transparent;
}

button:hover{
    color: #E3CAA5;
    transform: scale(1.2);
    transition: 0.5s;
    
}

@media (max-width: 800px) { 
    .nav-links li {
        margin: 5px 27px;
    }

    .links {
        font-size: 15px;
    }
}

@media (max-width: 600px) { 
    .nav {
        width: 100%; 
    }

    .nav-links li {
        margin: 5px 24px;
    }

    .links {
        font-size: 13px;
    }
}

@media (max-width: 400px) { 
    .nav {
        width: 100%;
        padding: 0 12px;
    }

    .nav-links li {
        margin: 5px 5px;
    }

    .links {
        font-size: 10px; 
    }
}


/*HOMEEEE PAGEEEEEE*/

.hero-pic {
    width: 100%;
    height: 52.2vh;
    background-image: url('/public/img/hero-main.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1200px),
        (max-width: 800px),
       (max-width: 600px){
        .hero-pic {
            width: 100%;
            height: 60vh; 
            background-size: cover;
        }
       }

@media (max-width: 500px) {
    .hero-pic {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 60vh; 
        background-size: cover;
    }
}



 
.text-container {
    text-align: center; 
    width: 100%; 
    cursor: default;
}

.cont-text {
    font-family: 'Pemberton Marsden Script', sans-serif;
    color: #FBFBFB;
    font-weight: 300;
    font-size: 70px;
    margin-bottom: -20px;
    
}

.subtext {
    font-family: 'Pemberton Marsden Script', sans-serif;
    color: #FBFBFB;
    font-weight: 400; 
    font-size: 15px;
}

@media (max-width: 800px) { 
    .cont-text {
        font-size: 70px;
    }

    .subtext {
        font-size: 12px;
    }
}

@media (max-width: 600px) { 
    .cont-text {
        font-size: 50px;
    }

    .subtext {
        font-size: 20px;
    }
}

@media (max-width: 400px) { 
    .cont-text {
        font-size: 40px;
    }

    .subtext {
        font-size: 4px;
    }
}


.hero-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 25vh;
    background-color: #AD8B73;
}

.sub-hero{
    width: 100%;
    height: 60vh;
    background-color: #E3CAA5;
}


.sub-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 200px;
}
@media screen and (max-width: 768px) {
    .sub-cont {
        flex-direction: column;
        gap: 50px;
        width: 100%; 
    }

    .sub-pic {
        width: 80%; 
        max-width: 200px;
        height: auto;
    }
    
    .sub-text {
        max-width: 90%;
        font-size: 14px;
    }
}

.sub-pic {
    background-image: url(sample.png);
    width: 50vh;
    height: 35vh;
    background-size: contain;
    background-repeat: no-repeat;
    transform: scale(1);
    transition: 0.5s ease;
}

.sub-pic:hover{
    transform: scale(1.2);
    transition: 0.3s ease;
}

.sub-text {
    font-family:'Courier New', Courier, monospace;
    color: #493f57;
    text-align: center;
    font-size: 14px; 
    cursor: default;
}

@media screen and (max-width: 768px) {
    .sub-pic {
        width: 150px;
        height: 100px;
    }
    
    .sub-cont {
        flex-direction: column; 
        gap: 50px;
    }
    
    .sub-text {
        font-family:'Courier New', Courier, monospace;        color: #FBFBFB;
        
        text-align: center;
        font-size: 14px; 
    }
}


@media screen and (max-width: 480px) {
    .sub-pic {
        width: 120px;
        height: 90px;
    }
    
    .sub-text {
        font-family:'Courier New', Courier, monospace;        color: #FBFBFB;
        
        font-size: 12px;
    }
}


/*GALLEEEEEEEERRRRRYYYYYYYYY*/


.gallery {
    width: 100%;
    min-height: 100vh;
    padding: 50px 20px;
    background-color: #CEAB93;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery h2 {
    font-size: 2rem;
    font-family:'Courier New', Courier, monospace;    margin-bottom: 20px;
    color: #FBFBFB;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    max-width: 1200px;
    width: 100%; 
    overflow:visible;
    
}


@media (max-width: 1200px) { 
    .gallery-grid {
        width: 100%;
        padding-right: 25px;
    }
}

@media (max-width: 800px) { 
    .gallery-grid {
        width: calc(90vw - 10px);
        padding-right: 25px;
        
    }
}

@media (max-width: 600px) { 
    .gallery-grid {
        width: 90vw;
        padding-right: 42px;
        
    }
}

@media (max-width: 400px) { 
    .gallery-grid {
        width: 90%;
        padding-right: 40px;
       
    }
}


.gallery-item img {
    border-radius: 10px;
    border: 3px solid #AD8B73;
    border-radius: 8px;
    width: 100%;
    height: auto; 
    object-fit: contain;
    filter: grayscale(1);
    transition: transform 0.6s ease;
}

.gallery-item img:hover {
    z-index: 100;
    transform: scale(1.1);
    filter: grayscale(0);
    filter: contrast(120%);
}












.footer {
    width: 100%;
    min-height: 15vh; 
    background-color: #AD8B73;
    padding: 20px;
}  

.foot-cont {
    display: flex;
    flex-wrap: wrap; 
    gap: 40px;
}

.left-foot, .rigth-foot {
    flex: 1;
    font-size: 16px;
    min-width: 300px;
    color: #EEEEEE;

}
.rigth-foot{
    margin-right: 20px;
}


@media screen and (max-width: 800px) {
    .foot-cont {
        flex-direction: column; 
        gap: 20px;
        margin-right: 20px;
    }

    .left-foot, .rigth-foot {
        font-size: 14px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 480px) {
    .left-foot, .rigth-foot {
        font-size: 12px;
        margin-right: 20px;
    }
}

